// GLOBAL CSS IMPORTS

@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../../node_modules/ionicons/dist/css/ionicons.min.css";
@import "../../../node_modules/admin-lte/dist/css/AdminLTE.min.css";
@import "../../../node_modules/admin-lte/dist/css/skins/skin-green.css";
@import "../../../node_modules/fullcalendar/dist/fullcalendar.css";
@import "../../../node_modules/react-datepicker/dist/react-datepicker.css";
@import "../../../node_modules/react-select/dist/react-select.min.css";
@import "../../../node_modules/react-table/react-table.css";

// GLOBAL CSS CONFIGURATION

#calendar {
  margin-top: 20px;
}

#start-event-datepicker_group, #end-event-datepicker_group {
  width: 100%;
}

.fc-event{
  cursor: pointer;
}

.react-datepicker-popper {
  z-index: 999;
}
